<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comunicación entre Componentes | Padre-Hijo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <script src="../vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
</head>
<body>
    <div id="app">
        <titulo></titulo>
    </div>

    <script>
        Vue.component('titulo', {
            template: 
            /*html*/`
            <div>
                <!--Si el componente ya existe en la librería se antepone $-->
                <h1>numero {{$store.state.numero}}</h1>
                <p>{{numero}}</p>
                <hijo></hijo>
            </div>
            `,
            /*
            Esto podemos realizarlo de dos formas:
            */
            computed: {
                numero() {
                    return store.state.numero
                }
            }
            /*
                o de esta otra,
                al realizar un mapeado de state nos permite utilizar la variable "numero"
                dentro de nuestro template sin necesidad de invocar 
                primero los componentes store y state:

            computed: {
               ...Vuex.mapState(['numero'])
            }
            */
        });

        Vue.component('hijo', {
            template:
            /*html*/`
            <div>
                <!--Para llamar una mutación se utiliza commit-->
                <button @click="$store.commit('aumentar')">+</button>
                <button @click="disminuir">&nbsp;-&nbsp;</button>
                <button @click="disminuirN(2)">-&nbsp;2</button>
                <h4>Numero {{$store.state.numero}}</h4>
            </div>
            `,
            methods: {
                /* 
                    Podemos invocar las mutaciones de la tienda por medio de MapMutations
                    esto nos permite invocar directamente en el componenete sin necesidad de
                    escribir $store.commit(mutation)
                */
                ...Vuex.mapMutations(['disminuir', 'disminuirN'])
            }
        });

        // Inicialización de Vuex, sobre la inicialización de Vue
        // Inicializa la tienda de datos
        const store = new Vuex.Store({
            // Inicializa los estados de las variables
            state: {
                //Variable disponible para todos los componentes
                numero: 10
            },
            // Cambios en las variables son llamados mutaciones
            mutations: {
                aumentar(state) {
                    state.numero++
                },
                disminuir(state) {
                    state.numero--
                },
                disminuirN(state, n) {
                    state.numero = state.numero - n
                }
            }
        });

        new Vue ({
            el: '#app',
            // Podemos escribir store: store, o únicamente una vez, si ambas variables se llaman igual
            store
        });
    </script>
</body>
</html>